body{
	color: #FF5722;
	font-family: "Futura", "Lato","Helvetica Neue",Helvetica, Arial,sans-serif;
}
a, a.active{
	color: #ffffff;
}

a:hover, a:focus, a:active {
	color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #FF5722;
}


.img30{
	width:30px;
	margin-right: 8px;
	margin-top: -5px;
}
.navbar-default a.navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus ,
.navbar-default .navbar-nav > li > a:active {
	color: #ffffff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: #FF5722;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #252525;
	background-color: #FF5722;
}

.navbar-default{
	background-color: #000;
	border-color: transparent;
}
header, section.success {
	color: #000;
	background: #FF5722;
}

footer .footer-above{
	color: #000;
	background-color: #FF5722;
}
footer .footer-below{
	color: #FF5722;
	background-color: #000;
}

hr.star-light{
	border-color:#000;
}
hr.star-light:after {
	color: #000;
	background-color: #FF5722;
}

hr.star-primary{
	border-color:#FF5722;
}
hr.star-primary:after{
	color: #FF5722;
	
}